BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
ColumnLimit: 140
Language: Cpp
Standard: Auto
UseCRLF: false
UseTab: AlignWithSpaces
AlignArrayOfStructures: Right
AlignEscapedNewlines: Left
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: true
AllowShortBlocksOnASingleLine: Never

AlignConsecutiveMacros: Consecutive
